@charset "UTF-8";

/* pequenas: até 600
cel: até 768
tablet: até 992
desktop: até 1200
grande: acima 1200 */

@media screen and (min-width: 768px) {
    span#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}